.cover__subtitle {
  max-width: 360px;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
  padding-top: 32px;
  margin: 0;
}

@media all and (max-width: 767.9px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 16px;
  }
}
