.one-column {
  display: block;
  margin: auto;
  width: calc(100% - 296px);
}

@media screen and (max-width: 1279px) {
  .one-column {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 1023px) {
  .one-column {
    width: 100%;
  }
}
