.cover {
  display: flex;
  align-items: stretch;
  margin: 92px auto 0;
  max-width: 1184px;
  min-height: 740px;
  width: 100%;
  background-image: url("../../images/cover-trains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
}

.cover::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(42, 44, 47);
  opacity: .3;
  transition: opacity .7s ease;
  z-index: -1;
}

.cover:hover::before {
	opacity: 0.8;
}

@media all and (max-width: 1279px) {
  .cover {
    height: 62.5vw;
    min-height: 640px;
  }
}

@media all and (max-width: 1023px) {
  .cover {
    min-height: 480px;
    margin-top: 90px;
  }
}

@media all and (max-width: 767.9px) {
  .cover {
    min-height: 200px;
    margin-top: 66px;
  }
}
