.cover__overlay {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 245px 0 245px 0;
}

@media all and (max-width: 1279px) {
  .cover__overlay {
    padding: 195px 0 195px 0;
  }
}

@media all and (max-width: 1023px) {
  .cover__overlay {
    padding: 115px 0 115px 0;
  }
}

@media all and (max-width: 767.9px) {
  .cover__overlay {
    padding: 33px 0 33px 0;
  }
}

